<a href="https://colab.research.google.com/github/gemma24/Extended-Learning-Portfolio/blob/main/Extended_Learning_Portfolio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ISYS5002 Extended Learning Portfolio
### Student name: Gerelmaa Gerelt-od
### Student ID: 20801940

## Question 1.
There is six simple operations that computer can understand.
1. Input/Recieve information
2. Output information
3. Perform Arithmetic
4. Assign a value to a variable
5. Compare two variables
6. Repeat a group of actions

Today, we look into first 3 operations.

As we always do, first we need to state problem clearly.
# Describe the problems?
* What is the current rate of the USD?
* What is the data type of USD amount? Is it can be int or float?

# Describe the input
To create USD to AUD converter program, we need USD dollars amount.

Our input is USD dollar amount. We can use input function.

For example: 

USD = input('Please write your amounts of USD')

# Perform arithmetic
To recieve desired results, we need to perform some arithmetics. The current exchange rate is mentioned in a question 1 as USD = 1.38 AUD. Since we know the current exchange rate, we can mutiply amount of USD with the exchange rate to recieve AUD. But, we should remind that USD amount can be float.
For example : 
AUD = float(USD)*1.38

# Describe the Output
Our output should be australia dollar amount. We can use print function.

For example : 

print(' Converted AUD amount is: ', (AUD))

## Question 2
Add some comments and explenation.

In [1]:
def get_url(search_term, template): 
  '''This function will generate URL with search term and template'''
 search_term = search_term.replace(' ', '+') # Replacing spaces with "+" in search_term
 url = template.format(search_term) # Add page query to url
 url += '&page={}' # Add page to the placeholder
 return url # Stores the URL that genearated in the function

## Question 3
Identify and correct at least five errors in the  following code.

In [2]:
def efficiency(dist, gas) 
 return dist/gas 
km = input ("How far did your car travel? (In kilometers?) ) liters = input ("How much gas did you use? (In liters)" 
MPG = efficiency(dist_traveled, Liters) 
print MPG

SyntaxError: ignored

1. SyntaxError

* Km, dist are not matching that means the dist used is not the same variable  name. We are getting the distance travelled and storing it in km, whilst we access the dist_traveled that is also not defined.

* To solve this error, we should change km and dist to dist_traveled.

2. SyntaxError

* here is again variables do not match. Programming language is a case sensitive, so liters and Liters are different variables. 

3. SyntaxError: There is also quotation is not closed.

* To solve this error, we should name the same both variables and close the quotation.

* Liters = input ( "How much gas did you use?(In liters)")

4. LogicError: Values not given in appropriate data type.

* We should convert dist_traveled and Liters into float or integer.

* Liters = float(input ( "How much gas did you use?(In liters)"))
 
 dist_traveled = float(input ("How far did your car travel? (In kilometers?) ))

5. SyntaxError: print() function is not formatted correctly

* In print function, everything inside the parenthesis will be printed.

* To solve this problem, we should add parenthesis

* print (MPG) 

6. ZeroDivisionError: it is possible to occur this error, when putting 0 value into Liters.

* To solve this problem, we should check if value is more than zero

# The fixed code



```
def efficiency(dist_traveled, Liters): 
 return dist_traveled/Liters
dist_traveled = float(input ("How far did your car travel? (In kilometers?)")) 
Liters = float(input ("How much gas did you use? (In liters)"))
if Liters > 0:
  MPG = efficiency(dist_traveled, Liters) 
  print(MPG)
else:
  print('Please put a value that more than zero') 
```

In [24]:
def efficiency(dist_traveled, Liters): 
 return dist_traveled/Liters
dist_traveled = float(input ("How far did your car travel? (In kilometers?)")) 
Liters = float(input ("How much gas did you use? (In liters)"))
if Liters > 0:
  MPG = efficiency(dist_traveled, Liters) 
  print(MPG)
else:
  print('Please put a value that more than zero')

How far did your car travel? (In kilometers?)0
How much gas did you use? (In liters)0

ZeroDivisionError: ignored

In [26]:
def efficiency(dist_traveled, Liters): 
 return dist_traveled/Liters
dist_traveled = float(input ("How far did your car travel? (In kilometers?)")) 
Liters = float(input ("How much gas did you use? (In liters)"))
if Liters > 0:
  MPG = efficiency(dist_traveled, Liters) 
  print(MPG)
else:
  print('Please put a value that more than zero')

How far did your car travel? (In kilometers?)125
How much gas did you use? (In liters)2
62.5

## Question 4
Write a program the reads in sales.csv and calculates the maximum, minimum and average  profit for each country in the Australia and Oceania region. For each country in the  Australia and Oceania region the plot their total profit. (Hint: read the CSV into a Pandas dataframe, create a new dataframe for the region, and use the new dataframe for the  calculations and bar chart) 

# Problem Solving Methodology
In the process of problem-solving, there are five key steps to follow:
1. State the problem clearly
2. Describe the input and output information
3. Work the problem by hand 
4. Develop an algorithm
5. Test solution with a variety of data.

# Step 1: State the problem 
* How to read the CSV file?
* How to calculate max, min, and average profit for each country in the Australia and Oceania

# Step 2 : Describe the input and output information
## Input
* CSV file
## Processing
* calculate the max, min, and average profits for each country
## Output 
* max, min, and average profits for each country in the Australia and Oceania region

# Step3 : Work the problem by hand



```
    Region	              Country	         Total Profit
0	Australia and Oceania	  Tuvalu	         951410.50
5	Australia and Oceania	  Solomon Islands	 285087.64
19	Australia and Oceania	East Timor	     337937.60
23	Australia and Oceania	New Zealand	     5270.67
26	Australia and Oceania	Kiribati	       13009.18
32	Australia and Oceania	Australia	       369155.00
56	Australia and Oceania	Fiji	           727423.20
60	Australia and Oceania	Australia	       60418.38
76	Australia and Oceania	Federated States of Micronesia	146875.14
79	Australia and Oceania	Samoa	           1678540.98
91	Australia and Oceania	Australia	       147031.74
```

The country of maximum profit: ('Samoa ', 1678540.98)
The country of minimum profit: ('New Zealand', 5270.67)

In [28]:
# Import libraries
import pandas as pd
import csv
import matplotlib.pyplot as plt

In [63]:
# read the CSV file and we need just region , country, and total profit info
col_list = ['Region', 'Country', 'Units Sold', 'Total Profit']
df = pd.read_csv('sales.csv', usecols=col_list)
df

                               Region  ... Total Profit
0               Australia and Oceania  ...    951410.50
1   Central America and the Caribbean  ...    248406.36
2                              Europe  ...    224598.75
3                  Sub-Saharan Africa  ...     19525.82
4                  Sub-Saharan Africa  ...    639077.50
..                                ...  ...          ...
95                 Sub-Saharan Africa  ...     65214.72
96                               Asia  ...     15103.47
97                 Sub-Saharan Africa  ...     93748.05
98                      North America  ...    144521.02
99                 Sub-Saharan Africa  ...    889472.91

[100 rows x 4 columns]

In [64]:
#lets set the region
aus_df = df.loc[df['Region'] == 'Australia and Oceania']
aus_df

                   Region  ... Total Profit
0   Australia and Oceania  ...    951410.50
5   Australia and Oceania  ...    285087.64
19  Australia and Oceania  ...    337937.60
23  Australia and Oceania  ...      5270.67
26  Australia and Oceania  ...     13009.18
32  Australia and Oceania  ...    369155.00
56  Australia and Oceania  ...    727423.20
60  Australia and Oceania  ...     60418.38
76  Australia and Oceania  ...    146875.14
79  Australia and Oceania  ...   1678540.98
91  Australia and Oceania  ...    147031.74

[11 rows x 4 columns]

In [67]:
max_profit=aus_df['Total Profit'].max()
max_profit_country=aus_df[aus_df['Total Profit']==max_profit]['Country'].values[0]
print('The country of maximum profit:',(max_profit_country, max_profit))
min_profit=aus_df['Total Profit'].min()
min_profit_country=aus_df[aus_df['Total Profit']==min_profit]['Country'].values[0]
print('The country of minimum profit:',(min_profit_country, min_profit))

The country of maximum profit: ('Samoa ', 1678540.98)
The country of minimum profit: ('New Zealand', 5270.67)